/*body {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

#canvas {
    background-color: white;
    color: black;
}
*/

.sidebar-wrapper {
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.sidebar-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
.page-container {
}
.guess-function {
    margin-top: 100px;
    text-align: center;
}

.sidebar-head {
    height: 100px;
    text-align: center;

}
#canvas {
    background-color: grey;
    color: white;
        margin-left: 300px;
    margin-top: 100px;

}